.icon {
  display: inline-flex;
  vertical-align: middle;
}

.icon__check {
  color: hsl(135, 70%, 34%);
}

.icon__cross {
  color: hsl(0, 0%, 63%);
}

.with-icon_icon__MHUeb {
  display: inline;
  flex-shrink: 0;
}
