name: Auto Translate

on:
  push:
    branches:
      - 'feature/auto-translate'
    paths:
      - 'docs/app-router/**'

permissions:
  contents: write
  pull-requests: write

jobs:
  auto-translate:
    runs-on: ubuntu-latest
    steps:
      # feature/auto-translateへcheckout
      - name: checkout code
        uses: actions/checkout@v4
        with:
          ref: feature/auto-translate

      # ファイル取得、翻訳、ファイル上書き処理
      - name: Check and get changed files
        run: bash auto_translate/script/check_change.sh "${{ secrets.GITHUB_TOKEN }}"

      # Nodeの環境構築
      - name: Use Node.js 20.9.0
        uses: actions/setup-node@v4
        with:
          node-version: '20.9.0'

      - name: npm install
        run: |
          npm i
          npm install openai

      - name: Translate with ChatGPT
        env:
          API_KEY: ${{ secrets.API_KEY }}
        run: node auto_translate/translate/translate.js

      - name: Remove translate_files_path.txt
        run: |
          rm auto_translate/translate_files_path/translate_files_path.txt

      # 変更内容のadd、commit、push処理
      - name: Configure Git
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: Add changes to Git
        run: |
          git add .

      - name: Commit changes
        run: |
          git commit -m "Automated commit from GitHub Actions"

      - name: Push changes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git push origin HEAD:${{ github.ref }}

      # PRの作成処理
      - name: Create PR
        run: bash auto_translate/script/create_pull_request.sh "${{ secrets.GITHUB_TOKEN }}"
